body {
    margin: 0;
    background: #008080;
    font-family: "MS Sans Serif", Arial, sans-serif;
}

/* ===== BUREAU ===== */
.desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    padding: 20px;
}

/* ===== ICONES ===== */
.icon {
    width: 90px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.icon a {
    text-decoration: none;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5px;
}

.icon img,
.icon-img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

/* effet hover propre */
.icon:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* ===== FENETRE ===== */
.window {
    width: 500px;
    background: #c0c0c0;

    position: absolute;
    top: 120px;
    left: 200px;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;

    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3);
}

/* barre de titre */
.title-bar {
    background: navy;
    color: white;

    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: move;
}

/* bouton fermer */
.close {
    background: #c0c0c0;
    border: 1px solid black;
    padding: 0 6px;
    cursor: pointer;
}

/* contenu fenêtre */
.window-content {
    padding: 10px;
}

/* ===== CODE ===== */
pre {
    background: black;
    color: #00ff00;

    padding: 10px;
    margin: 0;

    font-family: monospace;
    font-size: 13px;

    max-height: 400px;
    overflow-y: auto;

    border: 2px inset gray;
}

/* ===== BARRE DES TACHES ===== */
.taskbar {
    position: fixed;
    bottom: 0;
    width: 100%;

    background: #c0c0c0;
    padding: 4px;

    border-top: 2px solid white;
}

.start {
    display: inline-block;
    padding: 3px 10px;

    background: #c0c0c0;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #404040;
    border-bottom: 2px solid #404040;

    cursor: pointer;
}